@charset "utf-8";

body,html,ul,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,li,form,fieldset,legend,table{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

img{
    vertical-align: middle;
    border: none;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

b,strong{
    font-weight: normal;
}

i,em{
    font-style: normal;
}

textarea{
    resize: none;
}

input,a{
    outline: none;
}

a{
    text-decoration: none;
}

body{
    font-size: 12px;
}

.clearBoth::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearBoth{    /* 清除浮动兼容IE */
    zoom:1;
}
